<dl>
	<dt><label for="postlove_hide1">{L_POSTLOVE_HIDE}{L_COLON}</label><br /><span>{L_POSTLOVE_HIDE_EXPLAIN}</span></dt>
	<dd>
		<label for="postlove_hide1"><input type="radio" name="postlove_hide" id="postlove_hide1" value="1"<!-- IF S_POSTLOVE_HIDE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="postlove_hide0"><input type="radio" name="postlove_hide" id="postlove_hide0" value="0"<!-- IF not S_POSTLOVE_HIDE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<dl>
	<dt><label for="postlove_hide_profile1">{L_POSTLOVE_HIDE_PROFILE}{L_COLON}</label><br /><span>{L_POSTLOVE_HIDE_PROFILE_EXPLAIN}</span></dt>
	<dd>
		<label for="postlove_hide_profile1"><input type="radio" name="postlove_hide_profile" id="postlove_hide_profile1" value="1"<!-- IF S_POSTLOVE_HIDE_PROFILE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="postlove_hide_profile0"><input type="radio" name="postlove_hide_profile" id="postlove_hide_profile0" value="0"<!-- IF not S_POSTLOVE_HIDE_PROFILE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<dl>
	<dt><label for="postlove_hide_topics1">{L_POSTLOVE_HIDE_TOPICS}{L_COLON}</label><br /><span>{L_POSTLOVE_HIDE_TOPICS_EXPLAIN}</span></dt>
	<dd>
		<label for="postlove_hide_topics1"><input type="radio" name="postlove_hide_topics" id="postlove_hide_topics1" value="1"<!-- IF S_POSTLOVE_HIDE_TOPICS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="postlove_hide_topics0"><input type="radio" name="postlove_hide_topics" id="postlove_hide_topics0" value="0"<!-- IF not S_POSTLOVE_HIDE_TOPICS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
<dl>
	<dt><label for="postlove_hide_sum1">{L_POSTLOVE_HIDE_SUM}{L_COLON}</label><br /><span>{L_POSTLOVE_HIDE_SUM_EXPLAIN}</span></dt>
	<dd>
		<label for="postlove_hide_sum1"><input type="radio" name="postlove_hide_sum" id="postlove_hide_sum1" value="1"<!-- IF S_POSTLOVE_HIDE_SUM --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="postlove_hide_sum0"><input type="radio" name="postlove_hide_sum" id="postlove_hide_sum0" value="0"<!-- IF not S_POSTLOVE_HIDE_SUM --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>
