<!-- IF SHOW_USER_LIKES -->
	<!-- IF postrow.USER_LIKES -->
		<dd class="profile-custom-field"><span class="liked_info" aria-hidden="true"></span> <strong>{L_POSTLOVE_USER_LIKES}{L_COLON}</strong> {postrow.USER_LIKES}</dd>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF SHOW_USER_LIKED -->
	<!-- IF postrow.USER_LIKED -->
		<dd class="profile-custom-field"><span class="like_info" aria-hidden="true"></span> <strong>{L_POSTLOVE_USER_LIKED}{L_COLON}</strong> {postrow.USER_LIKED}</dd>
	<!-- ENDIF -->
<!-- ENDIF -->
